
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    
    <style>
      
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Roboto:wght@400;700&family=Rokkitt:wght@700&display=swap');

         *{
        margin:0;
       padding: 0;
       font-family: 'IBM Plex Sans', sans-serif !important;
        font-weight: 400 !important;
       box-sizing: border-boxf;

       }
       .navbar-nav a{
        font-size:15px;
        text-transform:uppercase;
        font-weight: 500;
       }
       .navbar-light.navbar-brand{
        color:#000;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
       }
       .navbar-light.navbar-brand:focus,
       .navbar-light.navbar-brand:hover{
        color:#000;
       }
       .navbar-light.navbar-nav.navbar-link{
        color:#000;
       }
       @media only screen and(max-width:500px){
        .navbar-nav{
           text-align: center;
        }
        .carousel-caption{
          bottom:125px;
        }
        .nav-item li{

        padding-left:30px;
        padding-right:30px;
              
    }
        
  }
</style>   
</head>
<body>
  <nav class="navbar navbar-expand-lg  bg-dark navbar-dark ">
  <div class="container">
    <img src="https://www.axisbank.com/assets/images/logo-white.png">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/display">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">Contact</a>
        </li>
       
       
    </div>
  </div>
</nav>
<style>
    *{
      margin:0;
     padding: 0;
     font-family: "adobe-caslon-pro", Times, serif !important;
      font-style: italic !important;
      font-weight: 400 !important;
     box-sizing: border-boxf;
   
     }
     ul.list{
      display: flex;
     }
     .section-padding{
      padding:100px 0;
     }
    
     .carousel-item{
      height:100vh;
      min-height: 300px;
     }
     .carousel-caption{
      bottom:220px;
      z-index:2;
     }
     .carousel-caption h5{
      font-size: 45px;
      text-transform: uppercase;
      letter-spacing:2px;
      margin-top:25px;
     }
     .carousel-caption p{
      width: 60%;
      margin: auto;
      font-size: 18px;
      line-height: 1.9;
     }
     .carousel-inner::before{
      content: '';
      position:absolute;
      width: 100%;
      height: 100%;
      top:0;
      left:0 ;
      background: rgba(0,0,0,0.7);
      z-index :1; 
     }
     .navbar-nav a{
      font-size:15px;
      text-transform:uppercase;
      font-weight: 500;
     }
     .navbar-light.navbar-brand{
      color:#000;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
     }
     .navbar-light.navbar-brand:focus,
     .navbar-light.navbar-brand:hover{
      color:#000;
     }
     .navbar-light.navbar-nav.navbar-link{
      color:#000;
     }
     .w-100{
      height:100vh;
     }
     .services .card-body i{
       font-size:50px;
     }
    .container1{
      background-image: url(https://www.georgetown.edu/wp-content/uploads/2019/08/20120319-Campus_0036-3000x1688-c--light-default.jpg);
    }
    .v {
          border-right: 1px solid rgb(117, 114, 114);
          height: 300px;
      }
      .container2{
        color: #131313;
        text-align: center;
        
      }
      p{
        font-size:21px ;
      }
      h1,h4{
        font-size: 70px;
      }
      .services .container{
        background-image: url(https://www.georgetown.edu/wp-content/uploads/2019/08/20120319-Campus_0036-3000x1688-c--light-default.jpg);
      }
      .img-fluid2{
        max-width: 152%;
        height: auto;
      }
      
       /*responsive*/
       @media only screen and(mix-width:769px) and (max-width:991px) {
        .carousel-caption{
          bottom: 370px;
        }
        .carousel-caption p{
          width: 100%;
        }

       }

       @media only screen and(mix-width:769px) and (max-width:991px) {
        .carousel-caption{
          bottom: 370px;
        }
        .carousel-caption p{
          width: 100%;
        }

       }

       @media only screen and(max-width:767px){
        .navbar-nav{
           text-align: center;
        }
        .carousel-caption{
          bottom:125px;
        }
        .carousel-caption h1{
          font-size: 17px;
        }
        .carousel-caption a{
          padding:10px 15px;
          
        }
        .carousel-caption p{
          width:100%;
          line-height: 1.6;
          font-size: 12px;
        }
       }
       
       
    </style>   
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://tse1.mm.bing.net/th?id=OIP.XFiDGP0SRJUumWKWkEX2JQHaE8&pid=Api&P=0&h=180" class="d-block w-100" alt="...">
            <div class="carousel-caption  d-md-block">
              <h1>SECURE BANKING</h1>
              <p><a href="./campus"class="btn btn-primary mt3">  &nbsp &nbsp &nbsp &nbsp Terms & Conditions &nbsp &nbsp &nbsp &nbsp </a></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://tse2.mm.bing.net/th?id=OIP.43N_0CaKKjzjPfTlUrddPwHaFj&pid=Api&P=0&h=180" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
              <h1>Your Future Banking</h1>
              <p></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://tse1.mm.bing.net/th?id=OIP.pNUyglOg1dViohs3gPnXSgHaFb&pid=Api&P=0&h=180" class="d-block w-100" alt="...">
            <div class="carousel-caption  d-md-block">
              <h1>Try Now</h1>
              
              <a href="#" data-bs-toggle="modal" data-bs-target="#Transcation"class="btn btn-primary">Register now</a>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
       <!---about-->
       <section id="about" class="about section-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
              <div class="about-img" >
                <img src="https://tse2.mm.bing.net/th?id=OIP.NRTgW2rQuM3PvSHKDjZcfwHaE7&pid=Api&P=0&h=180"alt=""class="img-fluid" style="height: 60vh;
                width: 100vh;
            ">
              </div>
            </div>
            <div class="col-lg-8 col-md-12 ps-lg-5 mt-md-5">
            <div class="about-text">
              <h4>The best of Axis now at your fingers</h4>
              </br></br><h3>Who We Are >>></h3></p>
              <a href="./about" class="btn btn-primary">About US</a>
            </div>
            </div>
          </div>
        </div>
       </section>
       <!---services section-->
       <section id="services"class="services section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-header text-center pb-5">
                <h4>Features</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-4">
              <div class="card text-white text-center bg-dark pb-4">
                <div class="card-body">
                  <img src="https://tse2.mm.bing.net/th?id=OIP.sciPrJJPFaJildWXtOHwewHaFV&pid=Api&P=0&h=180"class="card-img-top" alt="..."style="height: 35vh;">
                 
                  <h3 class="card-title" style="padding-top:20px ;">On Website</h3>
                  <p class="lead"> Accept cryptocurrency payments from your online customers.</p>
                  
                    
                    
                    
                   
                  
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
              <div class="card text-white text-center bg-dark pb-4">
                <div class="card-body">
                  <img src="https://tse3.mm.bing.net/th?id=OIP.CqaFjPMfjEgUlLmtXAgI9QHaF0&pid=Api&P=0&h=180" class="card-img-top" alt="..." style="height: 35vh;">
                 
                  <h3 class="card-title"  style="padding-top:20px ;">By Email</h3>
                  <p class="lead">Accept cryptocurrency payments from your online customers..</p>
                 
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
              <div class="card text-white text-center bg-dark pb-4">
                <div class="card-body">
                  <img src="https://tse4.mm.bing.net/th?id=OIP.USB2ghVQ1mUSCKkgFO_IUgHaD3&pid=Api&P=0&h=180" class="card-img-top" alt="..."style="height: 35vh;">
                 
                  <h3 class="card-title" style="padding-top:20px ;">In Person</h3>
                  <p class="lead">
                    Accept on your smartphone or tablet at your retail store or restaurant.</p>
                    
                </div>
              </div>
            </div>
          </div>
        </div>
       </section>
       <!------portfolio-->
       <section id="portfolio" class="portfolio section-padding">
        <div class="container1">
          <div class="row">
            <div class="col-md-12">
              <div class="section-header text-center pb-5">
                <h1>Our Customers</h1>
                <p>We live at the intersection of teaching and doing, where learning is more than the transmission <br>of knowledge,&nbsp  it is an act of collaboration and practice.<br>Under the mentorship of our distinguished faculty, you’ll go beyond the information to not </br>just learn about your field, but also to learn your field’s way of thinking. Through lectures,<br> small group projects, independent studies, office hours, internships and more, &nbsp  &nbsp <br>you’ll leave Georgetown with the intellectual skills of perception, analysis, interpretation and expression.</br>
                </p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="about-img">
                  <img src="https://www.georgetown.edu/wp-content/uploads/2019/09/20180116_Emily-Graul-6961-1050x1050-c-default.jpg"alt=""class="img-fluid">
                </div>
              </div>
              <div class="col">
                <div class="about-img">
                  <img src="https://www.georgetown.edu/wp-content/uploads/2019/09/Susu_NotOptimized-1050x1050-c-default.jpg"alt=""class="img-fluid">
                </div>
              </div>
              <div class="col">
                <div class="about-img">
                  <img src="https://www.georgetown.edu/wp-content/uploads/2019/09/Diego1-1-e1568749325454-1050x1050-c-default.jpg"alt=""class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
       </section>
       <!----section-->
       <section>
        <div class="container2">
          <div class="row">
            <div class="col">
             <div class="v">
             <h1><center> &nbsp &nbsp 9.8%  &nbsp &nbsp</h1>
             <h2> Interset rate</h2>
             <p>Dream Big, Bank Bigger</p> </center>
             
             </div>
            </div>
            <div class="col">
              <div class="v">
                <h1><center>More then 100 %</h1>
                  <h2>Happy Customers</h2>
                  <p>Bank Less, Live More</p> </center>
               </div>
            </div>
            <div class="col">
              <h1><center>100%</h1>
                <h2> Banking Beyond Boundaries</h2>
                <p>Secure and save</br></p> </center>
                
            </div>
          </div>
        </div>
       </section>
       <!----campus-->
       
       <section id="campus"class="campus section-padding ">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-header text-center pb-5">
                <h1></h1>
              </div>
      
            </div>
          
          </div>
        </div>
      
       </section>
 
  <!--btech Modal -->
  <div class="modal fade" id="Transcation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Transcation</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
        <form action="/course_insert" method="post">
            <div class="mb-3">
              <label>Name:</label>
              <input type="text" name="name" class="form-control">
            </div>
            <div class="mb-3">
              <label>Email:</label>
              <input type="email" name="email" class="form-control">
            </div>
            <div class="mb-3">
              <label>Mobile Number:</label>
              <input type="number" name="number" class="form-control" minlength="10">
            </div>
            
            <div class="mb-3">
              <label>Account Number:</label>
              <input type="number" name="accountno" class="form-control" minlength="12">
            </div>
            <div class="mb-3">
              <label>IFSC No:</label>
              <input type="number" name="ifscno" class="form-control"  minlength="12" >
            </div>
            <div class="mb-3">
              <label> Account Balance:</label>
              <input type="number" name="accountbalance" class="form-control" minlength="1">
            </div>
           
            <div class="d-grid gap-2 d-md-block">
              <button type="submit" class="btn btn-outline-primary">submit</button>
            </div>
          </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
   
         
   
<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
  
  * {
    font-family: Open Sans;
  }
  
  
  
  .footer-distributed{
      background: #0d0d0e;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
      width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
      color:  #ffffff;
      font: normal 36px 'Open Sans', cursive;
      margin: 0;
  }
  
  .footer-distributed h3 span{
      color:  lightseagreen;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
      color:  #ffffff;
      margin: 20px 0 12px;
      padding: 0;
  }
  
  .footer-distributed .footer-links a{
      display:inline-block;
      line-height: 1.8;
    font-weight:400;
      text-decoration: none;
      color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
      color:  #222;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
      width: 35%;
  }
  
  .footer-distributed .footer-center i{
      background-color:  #33383b;
      color: #ffffff;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
      font-size: 17px;
      line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
      display: inline-block;
      color: #ffffff;
    font-weight:400;
      vertical-align: middle;
      margin:0;
  }
  
  .footer-distributed .footer-center p span{
      display:block;
      font-weight: normal;
      font-size:14px;
      line-height:2;
  }
  
  .footer-distributed .footer-center p a{
      color:  lightseagreen;
      text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
      width: 20%;
  }
  
  .footer-distributed .footer-company-about{
      line-height: 20px;
      color:  #92999f;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
      display: block;
      color:  #ffffff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
      margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color:  #33383b;
      border-radius: 2px;
  
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
  
      margin-right: 3px;
      margin-bottom: 5px;
  }
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
  @media (max-width: 880px) {
  
      .footer-distributed{
          font: bold 14px sans-serif;
      }
  
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right{
          display: block;
          width: 100%;
          margin-bottom: 40px;
          text-align: center;
      }
  
      .footer-distributed .footer-center i{
          margin-left: 0;
      }
  
  }
  
  </style>
  <footer class="footer-distributed"style="height=100px;">
  
    <div class="footer-left"style="height=100px;">
  
      <h3>Ritunjaya<span>Saxena</span></h3>
  
      <p class="footer-links">
        <a href="/dashboard" class="link-1">Home</a>
        
        <a href="/about">About</a>
      
        <a href="campus">Campus</a>
      
        <a href="academic">Academic</a>
        
        <a href="contact">Contact</a>
      </p>
  
      <p class="footer-company-name">ritunjaya©2015</p>
    </div>
  
    <div class="footer-center">
  
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>444 S. Cedros Ave</span> Solana Beach, California</p>
      </div>
  
      <div>
        <i class="fa fa-phone"></i>
        <p>910455554646</p>
      </div>
  
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:support@company.com">ritunjaya@company.com</a></p>
      </div>
  
    </div>
  
    <div class="footer-right">
  
      <p class="footer-company-about">
        <span>About the company</span>
        Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
      </p>
  
      <div class="footer-icons">
  
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
  
      </div>
  
    </div>
  
  </footer> 
      <section class="copyright">
      <div class="container">
      <div class="row">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-6"></div>
      </div>
      </div>
      </section>
      </footer> 
      </body>
        
      
      
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
          
      </body>
      </html>
